
# Change the .env.example to .env so that it can work as intended
#Add the port number as you like
PORT = 


# Open this link https://cloud.mongodb.com/v2/69f090645f10db6a7359cc06#/overview Create your own mongoDB atlas and paste the link here
MONGODB_URL = ""

#Generate the JWT_SECRET_KEY as you like
JWT_SECRET_KEY = ""

# Enter your own Gemini API key 
GEMINI_API_KEY = ""

# Open this link https://stripe.com/in/payments create an account and paste the Secreat key here for stripe pay
STRIPE_SECREAT_KEY= 

STRIPE_WEBHOOK_SECREAT=
# This is for accessing the client(frontend) url
CLIENT_URL = ''