
PORT=8000

# Change this mongoDB URL to your own URL
MONGODB_URL=""

# This is the JWT Secerate key pleace change this for security 
JWT_SECRET_KEY=""

# Replace this API key with your own API  

GEMINI_API_KEY=""

